/*-----------------------------------------VARIABLES-----------------------------------------------*/

$backgroundColor:  #1f2324;
$secondaryColor: #f73b4c;
$textColor: #ffffff;
$textColorAccent: #606060;

$font: Helvetika, Arial, serif;

$fontSizeS: 1.2em;
$fontSizeM: 2em;
$fontSizeL: 3em;

$marginS: 3%;
$marginM: 5%;
$marginL: 15%;
$marginXL: 30%;

$paddingS: 1.5%;
$paddingM: 3%;
$paddingL: 15%;

$screenS: 320px;
$screenM: 640px;
$screenL: 990px;
